# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.moved-aside
*.xcuserstate
DerivedData/
.build/

# xcodegen
# project.pbxproj is generated — commit project.yml instead
*.xcodeproj/project.pbxproj
